/* Movie detail */
.b-post {
    font-size: 14px;
    line-height: 20px;
}

.b-post__info {
    color: #abb7c4;
    width: 100%;
    font-size: 100%;

}

.b-post__info td {
    padding: 2px 0;
    vertical-align: top;
    text-align: left
}

.b-post__info .l {
    color: #ffffff;
    font-weight: bold;
    width: 130px;
}

.b-post__info .l.inline {
    display: inline-block
}

.b-post__info .rd {
    padding-bottom: 15px;
    font-size: 12px
}

.b-post__info a {
    color: #00a0b0;
    /*text-decoration: underline*/
}

.b-post__info a:hover {
    text-decoration: none
}

.b-post__info h2 {
    display: inline;
    font-size: 14px;
}

.b-post__info_rates {
    color: #abb7c4;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 7px;
    white-space: nowrap
}

.b-post__info_rates a {
    color: #000
}

.b-post__info_rates i {
    color: #777;
    font-style: normal
}

.b-post__info_rates:nth-child(2) {
    margin-right: 0
}

.plot h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 25px;
}

.plot p {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}

.go-to-admin a {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/*Searching*/
.searching {
    justify-content: center;
}

/* Random */

.form-random button.submit {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background: #dd003f;
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}

#movie-random {
    margin-top: -185px;
}

.random-con {
    margin-top: 40px;
}

#hero-random {
    height: 582px;
}

.random-object-1 {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.random-object-2 {
    /*margin-left: 80px;*/
}


/* Rating */
.text-center {
    text-align: center;
}

.rating-stars {
    margin: 0 auto;
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul > li.star {
    display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size: 1.2em; /* Change the size of the stars */
    color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

.rating-stars p {
    font-size: 18px;
    color: #abb7c4;
    margin-bottom: 0;
}

.rating-stars p:last-child {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 11px;
}

.rating-stars p span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}


/* Category list */
.topbar-filter span, a {
    color: #4280bf;
}

.topbar-filter a:hover {
    color: #244c75;
    /*color: #3e6286;*/
}

.form-it input[name="watched"] {
    height: 12px;
}

#watched {
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
}