{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>{% block page_title %}Cinemix{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
{#	<link rel="profile" href="index.html#">#}

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
{#	<meta name="format-detection" content="telephone-no">#}

	<!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block extra_css %}{% endblock extra_css %}

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo_transparent3.png' %}" alt="" width="119" height="58">
{#    <img class="logo" src="images/logo_transparent1.png" alt="" width="119" height="58">#}
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!-- Header -->
{% include "header.html" %}

<!-- Main content -->
{% block content %}{% endblock %}

<!-- Footer section-->
{% include "footer.html" %}

<!-- Javascripts Section -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
</body>
</html>
