{% extends 'base.html' %}
{% load ratings %}
{% block content %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> {{ category|title }} - list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> {{ category|title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" action="movielist.html#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select
											name="skills" multiple="" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option value="Action1">Action 1</option>
					                        <option value="Action2">Action 2</option>
					                        <option value="Action3">Action 3</option>
					                        <option value="Action4">Action 4</option>
					                        <option value="Action5">Action 5</option>
										</select>
									</div>

								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>

									 <select>
										<option value="range">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
									</select>

								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<select>
												<option value="range">From</option>
												<option value="number">10</option>
												<option value="number">20</option>
												<option value="number">30</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
												<option value="range">To</option>
												<option value="number">20</option>
												<option value="number">30</option>
												<option value="number">40</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>{{ movie_amount }}</span> in total</p>
					<label>Sort by:</label>
                    <span>
                        <a href="{% url 'movie:list' type category %}?page={{ movies.number }}&amp;order_by=newest">Новее</a> |
                        <a href="{% url 'movie:list' type category %}?page={{ movies.number }}&amp;order_by=oldest">Старее</a>
{#                        <a href="">Старее</a>#}
                    </span>
{#					<a href="movie_list.html" class="list"><i class="ion-ios-list-outline active"></i></a>#}
{#					<a  href="movie_grid.html" class="grid"><i class="ion-grid"></i></a>#}
				</div>
                {% for movie in movies %}
				<div class="movie-item-style-2">
					<img src="{{ movie.image.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{% url 'movie:detail' type category movie.slug %}">{{ movie.title }}</a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.plot|truncatewords:20 }}</p>
						<p class="run-time"> Run Time: {{ movie.runtime }} m.</p>
						<p>Country: {% for country in movie.countries.all %} {{ country }}{% endfor %}</p>
						<p>Release: {{ movie.year }}</p>
						<p>Genre: {% for genre in movie.genres.all %} {{ genre }}{% endfor %}</p>
					</div>
				</div>
                {% endfor %}
				<div class="">
{#					<label>Movies per page:</label>#}
{#					<select>#}
{#						<option value="range">5 Movies</option>#}
{#						<option value="saab">10 Movies</option>#}
{#					</select>#}
{#					<div class="pagination2">#}
{#						<span>Page 1 of 2:</span>#}
{#						<a class="active" href="movielist.html#">1</a>#}
{#						<a href="movielist.html#">2</a>#}
{#						<a href="movielist.html#"><i class="ion-arrow-right-b"></i></a>#}
{#                    </div>#}
{#                    {% if is_paginated %}#}
                    {% with order_by=request.GET.order_by %}
                        <nav class="pagination2">
                            <ul class="pagination">
                                <li>
                                    <a href="?page=1{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                                       class="pagin">&laquo;</a>
                                </li>
                                {% for p in movies.paginator.page_range %}
                                    <li {% if movies.number == p %}class="active"{% endif %}>
                                        <a href="?page={{ p }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                                           class="pagin">{{ p }}</a>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a href="?page={{ movies.paginator.num_pages }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                                       class="pagin">
                                        &raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    {% endwith %}
{#                {% endif %}#}
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}