{% extends 'base.html' %}
{% load cache %}

{% block page_title %}{{ category|title }}{% endblock %}
{% block content %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> {{ category|title }} - list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'movie:home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> {{ category|title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" action="{% url 'movie:list_category' type category %}" method="get">
                         {% cache 21600 sidebar %}
							<div class="row">
{#								<div class="col-md-12 form-it">#}
{#									<label>Movie name</label>#}
{#									<input type="text" placeholder="Enter keywords">#}
{#								</div>#}
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select
											name="genres" multiple="" size="1" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
                                            {% for genre in genres_list %}
											<option value="{{ genre.slug }}">{{ genre.title}}</option>
                                            {% endfor %}
										</select>
									</div>

								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									 <select name="rating">
										<option value="">-- Select the rating range below --</option>
										<option value="10">-- 10 --</option>
										<option value="9">-- More than 9 --</option>
										<option value="8">-- More than 8 --</option>
										<option value="7">-- More than 7 --</option>
										<option value="6">-- More than 6 --</option>
									 </select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
                                            <input type="number" name="year_from" min="1900" max="{% now 'Y' %}" placeholder="From">
										</div>
										<div class="col-md-6">
                                            <input type="number" name="year_to" min="1900" max="{% now 'Y' %}" placeholder="To">
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
                        {% endcache %}
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>{{ movie_amount }}</span> in total</p>
					<label>Sort by:</label>
                    <span>
                        <a href="{% url 'movie:list_category' type category %}?page={{ movies.number }}&amp;order_by=newest">Новее</a> |
                        <a href="{% url 'movie:list_category' type category %}?page={{ movies.number }}&amp;order_by=oldest">Старее</a>
                    </span>
				</div>
                {% for movie in movies %}
				<div class="movie-item-style-2">
					<img src="{{ movie.image.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title }} <span>({{ movie.year }})</span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.plot|truncatewords:20 }}</p>
						<p class="run-time"> Run Time: {{ movie.runtime }} m.</p>
						<p>Country: {% for country in movie.countries.all %} {{ country }}{% endfor %}</p>
						<p>Rating: <span>IMDb: <span
                                        class="bold">{{ movie.imdb }}</span></span>,
                                    <span>Кинопоиск: <span
                                            class="bold">{{ movie.kinopoisk }}</span></span></p>
						<p>Genre: {% for genre in movie.genres.all %} {{ genre }}{% endfor %}</p>
					</div>
				</div>
                {% endfor %}
				<div class="">
                {% include 'pagination.html' %}
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}