{% extends 'base.html' %}
{% load static from staticfiles %}
{% load ratings %}

{% block content %}

    <div class="hero mv-single-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie-single movie_single">
        <div class="container">
            <div class="row ipad-width2 random-object-1">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="movie-img">
                        {#				<div class="movie-img sticky-sb">#}
                        <img src="{{ object.image.url }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="movie-single-ct main-content">
                        <h1 class="bd-hd">{{ object.title }}
                            <span>{{ object.year }}</span></h1>

                        <div class="movie-rate">
                            {#						<div class="rate">#}
                            {#							<i class="ion-android-star"></i>#}
                            {#							<p><span>8.1</span> /10<br>#}
                            {#							</p>#}
                            {#						</div>#}
                            <div>
                                <p>Rate This Movie: </p>
                                {% ratings object %}
                            </div>
                        </div>
                        <table class="b-post__info">
                            <tbody>
                            <tr>
                                <td class="l"><h2>Рейтинги</h2>:</td>
                                <td><span class="b-post__info_rates imdb">IMDb: <span
                                        class="bold">{{ object.imdb }}</span></span>
                                    <span class="b-post__info_rates kp">Кинопоиск: <span
                                            class="bold">{{ object.kinopoisk }}</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="l"><h2>Дата выхода</h2>:</td>
                                <td>{{ object.year }}
                                </td>
                            </tr>
                            <tr>
                                <td class="l"><h2>Страна</h2>:</td>
                                <td>{% for country in object.countries.all %}
                                    {{ country }}{% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="l"><h2>Режиссер</h2>:</td>
                                <td>
                                    <div class="persons-list-holder"><span
                                            class="item"><span
                                            class="person-name-item tooltipstered"><span
                                            itemprop="name">{{ object.director }}</span></span></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="l"><h2>Жанр</h2>:</td>
                                <td>{% for genre in object.genres.all %}
                                    <span itemprop="genre"> {{ genre }}</span>{% endfor %}
                            </tr>
                            <tr>
                                <td class="l"><h2>Время</h2>:</td>
                                <td itemprop="duration">{{ object.runtime }}
                                    мин.
                                </td>
                            </tr>
                            <tr>
                                <td class="l"><h2>Смотреть</h2>:</td>
                                <td itemprop="duration"><p><a class="fancybox-media hvr-grow"
                                        href="{{ object.video1 }}">Линк</a></p>
                                    {% if object.video2 %}
                                        <p>
                                            <a class="fancybox-media hvr-grow" href="{{ object.video2 }}">Линк</a>
                                        </p>

                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {% spaceless %}
                                    <div class="persons-list-holder"><span
                                            class="l inline"><h2>В ролях актеры</h2>:</span>
                                        {% for actor in object.actors.all %}
                                            <span class="item"><span
                                                    itemprop="name">{{ actor }}</span>, </span>
                                        {% endfor %}
                                        <span class="item">и другие</span></div>
                                    {% endspaceless %}
                                </td>
                            </tr>
                            {% if object.trailer %}
                                <tr>
                                    <td class="l">Трейлер:</td>
                                    <td>
                                        <div class="vd-it">
                                            {#                                        <img class="vd-img"#}
                                            {#                                             src="{% static 'images/uploads/image4.jpg' %}"#}
                                            {#                                             alt="">#}
                                            <a class="fancybox-media hvr-grow"
                                               href="{{ object.trailer }}"><img
                                                    src="{% static 'images/uploads/play-vd.png' %}"
                                                    alt=""> Смотреть</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
				</div>
			</div>
		</div>
		<div class="row ipad-width2 random-object-2">
			<div class="col-md-10 col-sm-12 col-xs-12 plot">
                <h3>Описание:</h3>
				<p>{{ object.plot }}</p>
			</div>
		</div>
	</div>
    <div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Similar</h2>
				</div>
				<div class="tabs">
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
                                    {% for sim_movie in sim_movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img src="{{ sim_movie.image.url }}" alt="" width="185" height="284">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{{ sim_movie.get_absolute_url }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="index.html#">{{ sim_movie.title }}</a></h6>
					            				<p><i class="ion-android-star"></i><span>{{ sim_movie.imdb }}</span> /10</p>
					            			</div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}