{% extends 'base.html' %}
{% load static from staticfiles %}
{% load ratings %}

{% block content %}

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img">
{#				<div class="movie-img sticky-sb">#}
					<img src="{{ object.image.url }}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ object.title }} <span>{{ object.year }}</span></h1>

					<div class="movie-rate">
{#						<div class="rate">#}
{#							<i class="ion-android-star"></i>#}
{#							<p><span>8.1</span> /10<br>#}
{#							</p>#}
{#						</div>#}
						<div>
							<p>Rate This Movie:  </p>
                            {% ratings object %}
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>{{ object.runtime }} m.</p>
						            		<p>Genre: {% for genre in movie.genres.all %} {{ genre }}{% endfor %}</p>
						            		<p>Country: {% for country in movie.countries.all %} {{ country }}{% endfor %}.</p>
						            		<div class="title-hd-sm">
												<h4>Trailer</h4>
											</div>
											<div class="mvsingle-item ov-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'images/uploads/image4.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="{{ object.trailer }}"><img src="{% static 'images/uploads/play-vd.png' %}" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">

												<div class="cast-it">
													<div class="cast-left">
{#														<img src="images/uploads/cast1.jpg" alt="">#}
                                                        {% for actor in movie.actors.all %}
														<a href="movie_detail.html#">{{ actor }}</a>
                                                        {% endfor %}
													</div>
{#													<p>...  Robert Downey Jr.</p>#}
												</div>
											</div>
						            	</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
                <h3>Описание:</h3>
				<p>{{ object.plot }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}