{% if is_paginated %}
    {% with order_by=request.GET.order_by %}
        <nav class="pagination2">
            <ul class="pagination">
                <li>
                    <a href="?page=1{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                       class="pagin">&laquo;</a>
                </li>
                {% for p in movies.paginator.page_range %}
                    {% if p <= movies.number|add:4 and p >= movies.number|add:-5 %}
                        <li {% if movies.number == p %}class="active"{% endif %}>
                            <a href="?page={{ p }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                           class="pagin">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="?page={{ movies.paginator.num_pages }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                       class="pagin">
                        &raquo;</a>
                </li>
            </ul>
        </nav>
    {% endwith %}
{% endif %}