{% extends 'base.html' %}
{% load ratings %}
{% block content %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Search</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row justify-content-center ipad-width2 searching">
			<div class="col-md-10 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span></span> in total</p>
				</div>
                {% for movie in movies %}
				<div class="movie-item-style-2">
					<img src="{{ movie.image.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.plot|truncatewords:20 }}</p>
						<p class="run-time"> Run Time: {{ movie.runtime }} m.</p>
						<p>Country: {% for country in movie.countries.all %} {{ country }}{% endfor %}</p>
						<p>Release: {{ movie.year }}</p>
						<p>Genre: {% for genre in movie.genres.all %} {{ genre }}{% endfor %}</p>
					</div>
				</div>
                {% endfor %}
{#				<div class="topbar-filter">#}
{#					<div class="pagination2">#}
{#						<span>Page 1 of 2:</span>#}
{#						<a class="active" href="movielist.html#">1</a>#}
{#						<a href="movielist.html#">2</a>#}
{#						<a href="movielist.html#"><i class="ion-arrow-right-b"></i></a>#}
{#					</div>#}
{#				</div>#}
			</div>
		</div>
	</div>
</div>
{% endblock %}