{% extends 'base.html' %}

{% block page_title %}Search{% endblock %}
{% block content %}

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Search</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row justify-content-center ipad-width2 searching">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter">
                    <p>Found <span>{{ movie_amount }}</span> in total</p>
				</div>
                {% for movie in movies %}
				<div class="movie-item-style-2">
                    <img src="{{ movie.image.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.plot|truncatewords:50 }}</p>
						<p class="run-time"> Run Time: {{ movie.runtime }} m.</p>
						<p>Country: {% for country in movie.countries.all %} {{ country }}{% endfor %}</p>
						<p>Release: {{ movie.year }}</p>
						<p>Genre: {% for genre in movie.genres.all %} {{ genre }}{% endfor %}</p>
					</div>
				</div>
                {% empty %}
                    <div>
                        <h3>Nothing found</h3>
                    </div>
                {% endfor %}
                {% include 'pagination.html' %}
            </div>
		</div>
	</div>
</div>
{% endblock %}